<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Edit Personal Loan Detail</ion-title>
        <ion-buttons end>
            <button ion-button text="Save" (click)="savePersonLoan()">
                Save
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
       <ion-grid>
			
			<ion-row align-items-center>
				<ion-col width="90">
				  Loan Amount
				</ion-col>
				<ion-col>
				    <ion-input type="number" ng-model="personLoanDetails.Amount"></ion-input>
				</ion-col>
			</ion-row>

			<ion-row align-items-center>
				<ion-col>
				   Annual interest rate
				</ion-col>
				<ion-col>
				  <ion-input type="number" ng-model="personLoanDetails.Rate"></ion-input>
				</ion-col> 
			</ion-row>

			<ion-row align-items-center>
				<ion-col>
				    Loan Period in years
			    </ion-col>	
				<ion-col>
				   <ion-input type="number" ng-model="personLoanDetails.Term"></ion-input>
 				</ion-col>
     		</ion-row>
			
			<ion-row align-items-center>
				<ion-col>
				  Start Date
				</ion-col>  
			    <ion-col>
				   <ion-input type="number" ng-model="personLoanDetails.StartDate"></ion-input>
			    </ion-col>
			</ion-row>
			
			<ion-row align-items-center>
				<ion-col>
				   Monthly Payment
				</ion-col>
				<ion-col>
             		<ion-input type="number" ng-model="personLoanDetails.ScheduledPayment"></ion-input>
			    </ion-col>
			</ion-row>

			<ion-row align-items-center>
				<ion-col>
				  TotalInterest
				</ion-col>
				<ion-col>
				 <ion-input type="number" ng-model="personLoanDetails.TotalInterest"></ion-input>
				</ion-col> 
			</ion-row>
			
		    <ion-row align-items-center>
				<ion-col>
				  AmountPaid 
				</ion-col>
				<ion-col>
				 <ion-input type="number" ng-model="personLoanDetails.TotalAmountPaid"></ion-input>
				</ion-col> 
			</ion-row>
			
			<ion-row align-items-center>
				<ion-col>
				  InterestPaid
				</ion-col>
				<ion-col>
				 <ion-input type="number" ng-model="personLoanDetails.InterestPaid"></ion-input>
				</ion-col> 
			</ion-row>
			
			<button ion-button block>Save</button>
	</ion-grid>		
</ion-content> 