<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Debt Manager</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isLoansAvailable">
    <ion-card>
      <ion-list>
        <button ion-item (click)="debtItemClick('home')">
          <ion-row>
            <ion-col><ion-icon name="home"></ion-icon></ion-col>
            <ion-col>Home </ion-col>
            <ion-col>$300000</ion-col>
          </ion-row>
        </button>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-list>
        <button ion-item (click)="debtItemClick('home')">
          <ion-row>
            <ion-col><ion-icon name="home"></ion-icon></ion-col>
            <ion-col>Home </ion-col>
            <ion-col>$300000</ion-col>
          </ion-row>
        </button>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-list>
        <button ion-item (click)="debtItemClick('auto')">
          <ion-row>
            <ion-col><ion-icon name="car"></ion-icon></ion-col>
            <ion-col>Auto </ion-col>
            <ion-col>$25000</ion-col>
          </ion-row>
        </button>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-list>
        <button ion-item (click)="debtItemClick('person')">
          <ion-row>
            <ion-col><ion-icon name="person"></ion-icon></ion-col>
            <ion-col>Person </ion-col>
            <ion-col>$15000</ion-col>
          </ion-row>
        </button>
      </ion-list>
    </ion-card>
  </div>
	<ion-label *ngIf!="isLoansAvailable">You do not have any loan saved</ion-label>	
</ion-content>


<!--
<div class="item low-pad-item item-icon-right" ng-repeat="item in data.items | orderBy:sortData:data.sortReverse ">
  <div class="flex-container wrap">
    <div ng-repeat="column in data.columns">
      <div class="column">{{item[column.id]}}&nbsp;</div>
    </div>
  </div>
  <i class="icon ion-chevron-right icon-accessory"></i>
</div>
    -->
